:root {
    --light-purple : #C9A1E3;
    --normal-purple : #AB5AE1;
    --dark-purple : #4C067A;
    --light-white : #F4FCF0;
    --dark-font : rgb(81, 79, 79);
}

* {
    font-family: 'Chivo Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 100vh;
    background-color: black;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-image {
    background-image: url('/images/background00.jpg');
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-bar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
}

.nav-bar-element {
    position: relative;
    color: whitesmoke;
    font-size: 1.4rem;
    margin-right: 5%;
}

.nav-bar-element:hover {
    cursor: pointer;
}

.nav-bar-element:hover::before {
    content: "";
    background-color:  var(--normal-purple);
    width: 50%;
    height: 1px;
    position: absolute;
    left: 8%;
    top: 110%;
    animation: grow 0.2s ease-in-out;
}

@keyframes grow {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

.presentation-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.presentation-box {
    width: 100%;
    height: 452px;
    background-color: var(--light-white);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-box-photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-image {
    border-radius: 250px;
}

.image-ring-decorator {
    border: 8px solid var(--light-purple);
    width: 530px;
    height: 530px;
    border-radius: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-text {
    width: 100%;
}

h1 {
    font-size: 120px;
    color: var(--dark-font);
    position: relative;
    width: max-content;
}

.animated-text-type-h1::before,
.animated-text-type-h1::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    left: 0%;
    
}

.animated-text-type-h1::before {
    background-color:var(--light-white);
    animation: typeEffect 2s steps(10) 1s forwards;
}

.animated-text-type-h1::after {
    width: 0.125em;
    background-color:black;
    animation: typeEffect 2s steps(10) 1s forwards,
        blink 750ms steps(10) infinite;
}

@keyframes typeEffect {
    to{
        left: 100%;
    }
}

@keyframes blink {
    to{
        background: transparent;
    }
}

h3 {
    font-size: 50px;
    color:  var(--dark-font);
}

/* SECTION ABOUT */

.about-box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-white);
    position: relative;
    overflow: hidden;
    z-index: -2;
}



/* MISCELLANEOUS */
.title-back-element {
    font-size: 12rem;
    color: var(--light-purple);
    margin-top: -1%;
    position: relative;
}

.title-front-element {
    font-size: 5rem;
    color: var(--dark-font);
    position: absolute;
}

.bkacground-decorator-bottom{
    width: 120%;
    height: 22%;
    rotate: 5deg;
    background-color: var(--dark-purple);
    position: absolute;
    bottom: -6rem;
    z-index: -1;
}
